<template>
  <div>
    <h1>Connectez-vous</h1>
    <input type="email" placeholder="email" v-model="mail">
    <input type="password" placeholder="password" v-model="mdp" @keypress.enter="validate">
    <button @click="validate">Valider</button>
    <div>
      <h1>Inscrivez-vous</h1>
      <button @click="subscribe">S'inscrire</button>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  name: 'Connexion',
  data() {
    return {
      mail: '',
      mdp: '',
    };
  },
  methods: {
    async validate() {
      try {
        const response = await Axios.post('/api/login_check', {
          username: this.mail,
          password: this.mdp,
        });
        this.$store.commit('setToken', response.data.token);
        // Axios.defaults.headers.Authorization = `Bearer ${token}`;
        await this.$router.push({ name: 'ProductList' });
      } catch (error) {
        console.error(error);
      }
    },
    subscribe() {
      this.$router.push({ name: 'Register' });
    },
  },
};
</script>

<style scoped>
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
</style>
