<template>
  <div class="home">
    <Connexion/>
  </div>
</template>

<script>
// @ is an alias to /src

import Connexion from '@/views/Connexion.vue';

export default {
  name: 'Home',
  components: { Connexion },
  mounted() {
    if (!this.$store.getters.isConnected) {
      this.$router.push({ name: 'Home' });
    }
  },
};
</script>
