<template>
  <div>
    <h1>Veuillez remplir le formulaire</h1>
    <input type="text" placeholder="Votre nom">
    <input type="text" placeholder="Votre adresse">
    <input type="email" placeholder="Votre email" v-model="mail">
    <input type="password" placeholder="Votre mot de passe" v-model="mdp">
    <button @click="register">S'inscire</button>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  name: 'Inscription',
  data() {
    return {
      mail: '',
      mdp: '',
    };
  },
  methods: {
    async register() {
      await Axios.post('http://127.0.0.1:8000/api/register', {
        email: this.mail,
        password: this.mdp,
      });
      await this.$router.push({ name: 'Home' });
    },
  },
};
</script>

<style scoped>
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
</style>
