<template>
  <div v-if="orders">
    <Header/>
    <h2>Panier</h2>
    <h3>id : {{orders.id}} - Status : {{orders.status}}</h3>
    <table>
      <thead>
        <tr>
          <th>Nom du produit</th>
          <th>Quantité</th>
          <th>Prix</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        <tr :key= "orderLine.id" v-for="orderLine in orders.orderLines">
          <td>{{orderLine.product.name}}</td>
          <td>{{orderLine.quantity}}</td>
          <td>{{orderLine.product.price}}</td>
          <td>{{orderLine.total}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Total de la commande : {{orders.total}}</h2>
    <button class="add" @click="addOtherProduct">Ajouter un produit</button>
    <button class="confirm" @click="confirmCart"> Valider le panier </button>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Axios from 'axios';

export default {
  name: 'Order',
  components: { Header },
  data() {
    return {
      orders: null,
    };
  },
  methods: {
    async displayOrders() {
      this.orders = (await Axios.get('http://127.0.0.1:8000/api/get-cart')).data;
    },
    async confirmCart() {
      await Axios.put('http://127.0.0.1:8000/api/confirm-cart');
      await this.$router.push({ name: 'List' });
    },
    addOtherProduct() {
      this.$router.push({ name: 'ProductList' });
    },
  },
  mounted() {
    this.displayOrders();
  },
};
</script>

<style scoped>
  table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
  }
  th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
  }
  td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
  }
</style>
