<template>
  <div>
    <Header/>
    <h1>Commandes passées</h1>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Date</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr :key= "order.id" v-for="order in listOrders">
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.date}}</td>
        <td>{{order.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Axios from 'axios';

export default {
  name: 'OrdersList',
  components: { Header },
  data() {
    return {
      listOrders: null,
    };
  },
  methods: {
    async displayOrders() {
      this.listOrders = (await Axios.get('http://127.0.0.1:8000/api/orders')).data;
    },
  },
  mounted() {
    this.displayOrders();
  },
};
</script>

<style scoped>
table {
  border:3px solid #6495ed;
  border-collapse:collapse;
  width:90%;
  margin:auto;
}
th {
  font-family:monospace;
  border:1px dotted #6495ed;
  padding:5px;
  background-color:#EFF6FF;
  width:25%;
}
td {
  font-family:sans-serif;
  font-size:80%;
  border:1px solid #6495ed;
  padding:5px;
  text-align:left;
}
</style>
