<template>
  <div>
    <button @click="back"> Retour </button>
    <div v-if="infoProduct">
      <h1>{{infoProduct.name}}</h1>
      <h3>Référence : {{infoProduct.reference}}</h3>
      <h4>Prix : {{infoProduct.price}} - Stock : {{infoProduct.stock}}</h4>
      <p>{{infoProduct.description}}</p>
    </div>
    <div >
      <h3> {{$store.state.counter}}</h3>
      <button @click="changeCounter(-1)"> - </button>
      <button @click="changeCounter(+1)"> + </button>
    </div>
    <button class="add" @click="addToCart"> Ajouter au panier </button>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  name: 'Product',
  data() {
    return {
      infoProduct: null,
    };
  },
  methods: {
    async displayInfoProduct() {
      this.infoProduct = (await Axios.get(`http://127.0.0.1:8000/api/products/${this.$route.params.id}`)).data;
    },
    async addToCart() {
      await Axios.put('http://127.0.0.1:8000/api/add-to-cart', {
        product: this.infoProduct.id,
        quantity: this.$store.state.counter,
      });
      this.$store.state.counter = 0;
      await this.$router.push({ name: 'Order' });
    },
    back() {
      this.$router.push({
        name: 'ProductList',
      });
    },
    changeCounter(value) {
      this.$store.commit('changeCounter', value);
    },
  },
  mounted() {
    if (!this.$store.getters.isConnected) {
      this.$router.push({ name: 'Connexion' });
    } this.displayInfoProduct();
  },
};
</script>

<style scoped>

</style>
