<template>
  <div>
    <Header/>
    <h2>Liste des produits</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr :key= "product.id" v-for="product in products">
          <td>{{product.imageSrc}}</td>
          <td>
            <router-link :to="{name: 'Product', params:{id:product.id}}">
            {{product.name}}
            </router-link>
          </td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>{{product.stock}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button @click="addProduct">Ajouter un produit</button>
    </div>
  </div>
</Template>

<script>
import Header from '@/components/Header.vue';
import Axios from 'axios';

export default {
  name: 'ProductList',
  components: { Header },
  data() {
    return {
      products: null,
    };
  },
  methods: {
    async displayProducts() {
      this.products = (await Axios.get('/api/products')).data;
    },
    addProduct() {

    },
  },
  mounted() {
    if (!this.$store.getters.isConnected) {
      this.$router.push({ name: 'Connexion' });
    } this.displayProducts();
  },
};
</script>

<style scoped>
  table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
  }
  th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
  }
  td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
  }
  button {
    margin-top: 30px;
  }
</style>
