<template>
  <div>
    <Header/>
    <h1>Utilisateurs</h1>
    <table>
      <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Adresse</th>
        <th>Mot de Passe</th>
        <th>Admin</th>
      </tr>
      </thead>
    </table>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';

export default {
  name: 'User',
  components: { Header },
};
</script>

<style scoped>
  table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
  }
  th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
  }
</style>
