<template>
  <div>
    <router-link to="/" @click="$store.commit('logout')">Se déconnecter</router-link>
    <h1>Shoppy</h1>
    <router-link to="/products">Produits</router-link> |
    <router-link to="/orders">Panier</router-link> |
    <router-link to="/ordersList">Commandes</router-link> |
    <router-link to="/users">Utilisateurs</router-link>
  </div>
</template>

<script>

export default {
  name: 'Header',
};
</script>

<style scoped>

</style>
